@font-face { font-family: 'PFStardust'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "PFStardust" , "sans serif font" ;

    

}
h1{
    color: #FB638E;
    font-weight: 900;
}

#title{
    color: #FF7BA0;
    font-weight: 500;
}
#A,#B{
    background: rgba(244, 138, 168, 0.4);
    border: none;
    width: 447px;
    height: 44px;
    margin: 0 auto;
}


.start{
    align-items: center;
    text-align: center;
}

.question{
    display: none;
    background: rgba(255, 255, 255, 0.7);
    width: 1114px;
    height: 628px;
    border-radius: 50px;
    z-index: -4;
    
}
h1{
    display: grid;
    align-items: center;
    text-align: center;
    
}
.sub{
    display: none;
    background:rgba(255, 255, 255, 0.7);
    width: 960px;
    height: 77px;
    border-radius: 50px;
    margin: auto;
}

.box{
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    width: 1114px;
    height: 628px;
    border-radius: 50px;
    z-index: -15;
    
    
}
.box img{
    width: 600px;
    position: relative;
    bottom: 5%;
    
    
}

.question img{
    width: 700px;
    margin: 60px auto;
}

.main{
    display: grid;
    background:rgba(255, 255, 255, 0.7);
    width: 960px;
    height: 77px;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    z-index: -3;
    
}
.result{
    display: none;
    position: fixed;
    margin-top: 2.9%;
    background: rgba(255, 255, 255, 0.7);
    width: 1114px;
    height: 628px;
    border-radius: 50px;
    z-index: -10;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
.explain{
    position: relative;
    
}

.result img{
    position: absolute;
    top: 35%;
    right: 1%;
    z-index: -1;
}
article{
    display: flex;
    flex-direction: column;
}

.btn{
    position: absolute;
    top: 70%;
    background: #F48AA8;
    border: none;
}

.btn:hover {
  background-color: #fd5b89;
}

.btn:active {
  background-color:#fd5b89; 
}

.btn:focus {
  background-color: #fd5b89;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fd5b89;
    border-color: #fd5b89;
}

.mt-6{
    margin-top: 56px;
}

.mb-6{
    margin-bottom: 100px;
}
